/*
 * Colors
 */
$teal-green:      #075E54;
$teal-green-alt:  #128C7E;
$light-green:     #25D366;
$white:           #FFFFFF;
$og-chat-bubble:  #DCF8C6;
$checkmark-blue:  #34B7F1;
$chat-background: #ECE5DD;

/*
 * Typography
 */
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-weight: (
  bold:    600,
  regular: 500,
  light:   400
);
