.chat {
  img {
    width: 60px;
  }
  &__name {
    font-size: $font-size-chat;
    line-height: $line-height-chat;
    color: $text-dark;
  }
  &__date {
    font-size: $font-size-date;
    line-height: $line-height-date;
    color: $text-lighter;
  }
  &__message {
    font-size: $font-size-message;
    line-height: $line-height-message;
    color: $text-light;
    i {
      font-size: 18px;
      position: relative;
      top: 4px;
    }
  }
  &.new-messages {
    .chat__date {
      color: $light-green;
    }
  }
  &.seen-message .tick {
    color: $checkmark-blue;
  }
  &.writting {
    .chat__message {
      color: $light-green;
    }
  }
  &:hover {
    background-color: $chat-hover;
  }
}
