%badge {
  min-width: 22px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
}
nav ul a span.badge {
  @extend %badge;
  background-color: $white;
  color: $teal-green;
}
.chat.new-messages .badge {
  @extend %badge;
  margin-top: 0.5rem;
  background-color: $light-green;
  color: $white;
}
